{% extends 'base.html'%}
{% block title %} Contact {% endblock %}
{% block carrousel %}{% endblock %}
{% block content %}
<aside class="callout" style="background: url(../static/images/contacto.jpg) no-repeat center center scroll;">
  <div class="text-vertical-center">
      <h1 style="color: #fff"> Contactanos</h1>
  </div>
</aside>

<div class="row">
  <form id= "form" role = "form" method="POST" onsubmit="return valida(form)">
    {% csrf_token %}
    <div class="container text-center" style="padding-top: 15px;">
      <h2>Envianos un email con tus datos o preguntas y nos contactaremos contigo</h2>
      <hr style="padding-bottom: 15px;" class="small">
      <div class="col-sm-8 col-sm-offset-2">
      <div class="form-group float-label-control">
        <label for="id_name">Nombre:</label>
        <input id="id_name" name="name" type="text" />
      </div>
      <div class="form-group float-label-control">
        <label for="id_emal">Correo:</label>
        <input id="id_emal" name="emal" type="text" />
      </div>
      <div class="form-group float-label-control">
        <label for="id_message">Mensaje:</label>
        <textarea cols="40" id="id_message" name="message" rows="10"> </textarea>
      </div>
      <div class="btn-group  col-xs-8 col-xs-push-2" role="group" aria-label="..." style="padding-left: 0px;padding-right: 0px;">
        <input type="submit" name="name" class= "btn btn-default btnDef1 col-xs-6" value="Enviar Mensaje">
        <input type="reset" name="name" class= "btn btn-default btnDef1 col-xs-6" value="Cancelar">
      </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
