{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Home {% endblock %}
{% block inicio %}
<li class="active"><a href="#" data-nav-section="home"><span>Inicio</span></a></li>
{% if user.is_authenticated %}
{% else %}
<li><a href="#" data-nav-section="about"><span>Acerca</span></a></li>
{% endif %}
{% endblock %}
{% block carrousel %}
<div id="slider" data-section="home">
  <div class="owl-carousel owl-carousel-fullwidth">
    <!-- You may change the background color here. -->
    <div class="item" style="background: #DC241C">
      <div class=""></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">Bienvenido a Carlitos Quintero A.C</h1>
              <h3 class="fh5co-sub-lead to-animate">Organizacion no lucrativa ubicada en Tijuana</h3>
              <h3 class="fh5co-sub-lead to-animate">Necesitas Apoyo?</h3>
              <p class="to-animate-2"><a href="{%url 'contacto' %}" target="_blank" style="background-color: #ff0000" class="btn btn-primary btn-lg">Contactanos!</a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item" style="background: #00923F;">
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">Test de diagnostico</h1>
              <h2 class="fh5co-sub-lead to-animate">Prueba para determinar si su hijo necesita ayuda</h3>
              <p class="to-animate-2"><a href="{% url 'test_view' %}" style="background-color: #008000"class="btn btn-primary btn-lg">Hacer Test</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
            <div class="iphone to-animate-2"><img src="{% static 'images/pencil.png' %}" alt="Free HTML5 Template by FREEHTML5.co"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div id="fh5co-about-us" data-section="about" style="background-color: #0093DE">
  <div class="container">
    <div class="row row-bottom-padded-lg" id="about-us">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Acerca de Nosotros</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 to-animate">
            <h3>Asociación civil en Tijuana, dedicada a atender el Trastorno por déficit de atención con hiperactividad.</h3>
          </div>
        </div>
      </div>
      <div class="col-md-8 to-animate">
        <img src="{% static 'images/kids.jpg' %}" class="img-responsive img-rounded" alt="Free HTML5 Template">
      </div>
      <div class="col-md-4 to-animate">
        <h2>Un poco sobre quienes somos</h2>
        <p>
          Compartir la esperanza de un mundo con justicia y equidad para las personas con necesidades diferentes y orientar a Padres de niños con TDAH y a la Sociedad en general sobre las necesidades y los derechos de los niños que presentan el trastorno, para que estos sean aceptados y respetados en el ámbito familiar, social y escolar. </p>

        <p><a href="{% url 'about_view' %}" class="btn btn-primary">Conoce mas! </a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
