
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Carlitos - {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="Carlitos Quintero, TDAH, Tijuana, Defecif de Atencion, Asociacion Civil" />
	<meta name="author" content="FREEHTML5.CO" />

  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/video.css' %}">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap-image-gallery.min.css' %}">

	<!--
	Default Theme Style
	You can change the style.css (default color purple) to one of these styles

	1. pink.css
	2. blue.css
	3. turquoise.css
	4. orange.css
	5. lightblue.css
	6. brown.css
	7. green.css

	-->
	<link rel="stylesheet" href="{% static 'css/blue.css' %}">

	<!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->



	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script type = "text/javascript">
	function valida(f){
		var ok = true;
		var c = 0;
		var msg = "Debes escribir algo en los campos\n";
		if(f.elements[0].value==null)
		{
			msg += "- Numero Curso\n";
			ok = false;
		}else{ c+= 1}
		if(f.elements[c].value=="")
		{
			msg += "- Curso"
			ok = false;
		}
		if(ok == false && c < 2)
			alert(msg);
		else{alert('Exitoo!...')}
		return ok;
	}
	</script>

	</head>
	<body>
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		          	<a class="navbar-brand" href="{% url 'home' %}">TDAH Carlitos Quintero AC</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
								{% block inicio %}{% endblock %}
								{% if user.is_authenticated %}
								<li><a href="#" data-nav-section="about"><span>Acerca</span></a></li>
								<li><a href="#" data-nav-section="press"><span>Blog</span></a></li>
								<li><a href="{% url 'contacto' %}" ><span>Contacto</span></a></li>
								<li><a href="{% url 'admin_panel' %}" ><span>Admin Panel</span></a></li>
								<li><a href="{% url 'registros_view' %}" ><span>Registros</span></a></li>
								<li><a href="{% url 'logout' %}" ><span> {{ user.username | capfirst }} / Salir</span></a></li>
								{% else %}
								<li><a href="{% url 'blog' %}"><span>Blog</span></a></li>
								<li><a href="{% url 'cursos_view' %}" ><span>Cursos</span></a></li>
								<li><a href="{% url 'contacto' %}"><span>Contacto</span></a></li>
								<li><a href="{% url 'test_view' %}"><span>Test</span></a></li>
								<li>
									<a href="" style="background-color: transparent"class="dropdown-toggle" data-toggle="dropdown">Inciar Sesion <span class=""></span></a>
                        <ul style= "background: none;" class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
                            <div class="col-lg-12">
																<form autocomplete="off" method="POST">
													    	{% csrf_token %}
													    	  <div class="form-group float-label-control">
													    	    <label style="color: white" for="UserName: ">Nombre Usuario</label>
													    	    <input style= "background: none ; color: white" type="text" class="form-control" id="username" name="username" placeholder="Usuario">
													    	  </div>
													    	  <div class="form-group float-label-control">
													    	    <label style="color: white" for="Password">Contraseña </label>
													    	    <input style= "background: none; color: white" type="password" class="form-control" id="password" name="password" placeholder="Password">
													    	  </div>
													    	  <button type="submit" class="btn btn-default btn-xs btn-block">Login</button>
													    	  <button type="reset" class="btn btn-default btn-xs btn-block">Cancel</button>
                            </div>
                        </ul>
								</li>
								{% endif %}
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>

	{% block carrousel %}
	{% endblock %}

	{% block content %}{% endblock %}



	<footer id="footer" role="contentinfo">
		<div class="container">
			<div class="row row-bottom-padded-sm">
				<div class="col-md-12">
					<p class="copyright text-center">&copy; 2016 <a href="#" data-nav-section="fh5co-header">Carlitos Quintero</a>. Todos los derechos Reservados. <br>
						Created by <a href="https://github.com/Camarbro" target="_blank">Camargo Diaz Juan </a> | <a href="https://github.com/guille1194" target="_blank">Navarro Guillermo </a> | <a href="http://freehtml5.co/" target="_blank">Carlos Rodriguez</a>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
						<li><a href="https://www.facebook.com/tdahCarlitosQuinteroAc/"><i class="icon-facebook"></i></a></li>
					<!--	<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-youtube"></i></a></li>
						<li><a href="#"><i class="icon-pinterest"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</footer>




	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Owl Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- Main JS (Do not remove) -->
	<script src="{% static 'js/main.js' %}"></script>

	<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="{% static 'js/bootstrap-image-gallery.min.js' %}"></script>

	</body>
</html>
